<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega-Sena</title>
</head>
<body>
    <h2>Gerador de Apostas</h2>
    <p>
        
    </p>
    <form action="/" method="post">
        Número de jogos: <input type="number" name="numero" required> </br>
        </br>
        <button type="submit" enterkeyhint="enter" >Sortear</button>
    </form>
    </br>

    <div>
        {% if todos %}
            <ul>
                {% for key, value in todos %}
                    <li>{{key}} {{value}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>


</body>
</html>