@charset "UTF-8";

body {
    background-color: black;
    color: white;
    margin: 20px;
    text-align: center;
    font-size: 22px;
}

div {
    width: 30%;
    margin: auto;
    padding: 5px;
    text-align: justify;
}